@inherits LayoutComponentBase

<div class="middle-box custom">
    <h2 class="text-light">Welcome to MediMoveApp</h2>
    @Body
</div>

<style>
    .custom {
        max-width: 350px;
        background: #1f1f1f;
    }
     
</style>