@using MediMove.Client.temp;
@inject MediMoveAuthenticationStateProvider stateProvider
@inject NavigationManager NavManager
@inherits LayoutComponentBase


<div class="page">
   
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    //private bool IsAuthorized = false;

    //protected override async Task OnInitializedAsync()
    //{

    //    var state = await stateProvider.GetAuthenticationStateAsync();
    //    IsAuthorized = state.User.Identity.IsAuthenticated;
    //}

    //private async Task HandleLogout()
    //{
    //    await stateProvider.Logout();
    //    NavManager.NavigateTo("/login/", true);
    //}
}
