<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MediMove</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Paramedic">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="paramedic">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="paramedic/availabilities">
                <span class="oi oi-plus" aria-hidden="true"></span> Avabilities
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Dispatcher">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dispacher/CreateTransport">
                    <span class="oi oi-plus" aria-hidden="true"></span> Create Transport
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </div>
        </AuthorizeView>/admin/account/create
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/account/create">
                    <span class="oi oi-plus" aria-hidden="true"></span> Register
                </NavLink>
            </div>
        </AuthorizeView>
         <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/employees">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Get Employees
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    //cog - zebmatka ustawień
        //
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
