@page "/dispacher/"

<div class="container-fluid centered-text"><h1>Welcome back!</h1></div>


<style>
    .centered-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
@code {

}
