@page "/login/"
@using MediMove.Client.temp;
@using MediMove.Shared.Models.DTOs;
@layout AuthLayout
@inject MediMoveAuthenticationStateProvider _stcateProvider
@inject NavigationManager _navigationManager

<div class="row">
    <div class="col-12">
        @*<h4>Login</h4>*@
        <EditForm Model="dto" OnValidSubmit="HandleLogin">
            <RadzenCard>
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <InputText id="email" class="form-control" @bind-Value="dto.Email" />
                    <ValidationMessage For="@(() => dto.Email)" />
                </div>
                <div class="form-group">
                    <label for="Password">Password:</label>
                    <RadzenPassword id="Password" class="form-control" @bind-Value="dto.Password"></RadzenPassword>   @*Placeholder="Enter password..."*@
                    <ValidationMessage For="@(() => dto.Password)" />
                </div>
                <hr />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Login" ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2"/>
            </RadzenCard>

        </EditForm>
    </div>
</div>



@code {
    private LoginUserDTO dto = new();

    private MediMoveResponse<HttpResponseMessage> response = new();

    private async Task HandleLogin()
    {
        
        response = await _stcateProvider.LoginAsync(dto);

        if (response.CorrectResponse is not null)
        {
            var role = await _stcateProvider.GetRole();
            switch (role)
            {
                case "Paramedic":
                    _navigationManager.NavigateTo("/paramedic");
                    break;
                case "Dispatcher":
                    _navigationManager.NavigateTo("/dispacher");
                    break;
                case "Admin":
                    _navigationManager.NavigateTo("/");
                    break;
                default:
                    break;
            }
        }
        //else
        //{
        //    NavManager.NavigateTo("", true);
        //}
    }
}